@define-color background #282a36;
@define-color selection #44475a;
@define-color foreground #f8f8f2;
@define-color comment #6272a4;
@define-color cyan #8be9fd;
@define-color green #50fa7b;
@define-color orange #ffb86c;
@define-color pink #ff79c6;
@define-color purple #bd93f9;
@define-color red #ff5555;
@define-color yellow #f1fa8c;

* {
  font-family: "Ubuntu";
  font-weight: 400;
  font-size: 14px;
  border: none;
  border-radius: 0;
  box-shadow: none;
  text-shadow: none;
  padding: 0;
  margin: 0;
}

#waybar {
  color: @foreground;
  background: @background;
}

.modules-right > * {
  color: @background;
  background: @foreground;
  padding: 0 8px;
}

.modules-right > * label {
  padding: 0 4px;
}

.modules-right > *:nth-child(1) {
  color: @background;
  background: @green;
}

.modules-right > *:nth-child(2) {
  color: @background;
  background: @yellow;
}

.modules-right > *:nth-child(3) {
  color: @background;
  background: @cyan;
}

#workspaces button {
  color: @foreground;
  background: @background;
  padding: 0 4px;
}

#workspaces button:hover {
  color: @background;
  background: @green;
}

#workspaces button.focused {
  color: @background;
  background: @green;
}

#workspaces button.urgent {
  color: @background;
  background: @red;
}

#mpris {
  font-size: 12px;
  margin-left: 32px;
}

#clock {
  padding: 0 12px;
}

#tray {
  padding: 0 16px 0 8px;
  background: transparent;
}
