* {
	text-shadow: none;
	box-shadow: none;
  	border: none;
  	border-radius: 0;
	font-family: FontAwesome, "Ubuntu";
  	font-weight: 600;
  	font-size: 12px;
}

window#waybar {
	color: rgba(255, 255, 255, 1);
  	background: rgba(0, 0, 0, 0.7);
	margin: 0;
}

.module {
	padding: 5px;
}